html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1330px;
  margin: 0 auto;
  padding: 0 25px;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  list-style: none;
  gap: 70px;
  margin: 0;
  padding: 0;
}
.header-menu-item {
  color: #40494d;
  text-decoration: none;
}
.header-button {
  padding: 19px;
  background-color: transparent;
  width: 58px;
  height: 58px;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #40494d;
}
.cta {
  border-radius: 25px;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
  background-color: #283337;
  font-family: Arial Regular;
  padding: 15px 25px;
  margin-left: 0;
}
.header-search-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
}
.hero {
  background-color: #e5e5e5;
  padding-top: 180px;
  padding-bottom: 170px;
}
.hero-container {
  display: flex;
}
.hero-left {
  width: 50%;
  padding-right: 50px;
}
.hero-title {
  margin-top: 105px;
  color: #283337;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 1px;
}
.hero-desc {
  color: #40494d;
  font-family: Arial;
  font-size: 21px;
  padding-bottom: 30px;
  max-width: 347px;
}
.hero-img {
  width: 100%;
}
.partners-container {
  display: flex;
  gap: 100px;
  margin: 55px 85px;
  padding-top: 120px;
}
